@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }
  
  body {
    @apply text-gray-800;
    background-color: #F5F5F5;
    margin: 0;
  }
  
  #root {
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}
